

.home_filter_product_section {
    display: flex;
}

.home_filter_container {
    width: 20%;
    border: 1px solid black;

    min-height: 90vh;
}

.home_product_container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    border: 1px solid black;

}



@media(max-width:768px) {
    .home_filter_container {
        display: none;
    }

    .home_product_container {
        width: 100%;
        border: none;
        height: 100%;
        padding: 0;
        margin: 0;
    }
}